*{
    padding:0;
    margin:0;

}

body{

    width:100%;
    height:auto;
    overflow:hidden;
    background-color:#c4a1a2;

}

.portada img {
    position: absolute;
    width:100%;
}

.hora {
    position: absolute;
    color: #FFFFFF;
    right: 42%;
    top:5%;


}
.hora a{

    color: #FFFFFF;

}


.texto  {
    position:absolute;
    top: 70%;
    left: 15%;
    color: #FFFFFF;

    font-family: 'Roboto', sans-serif;
    font-size: 5vw;

    }

.boton a {
    position: absolute;
    text-decoration:none;
    display:block;
    border; 3px solid #B96716;
    width:230px;
    height: 90px;
    text-align:center;
    right: 44%;
    top:30%;

    border-radius:10px;

    font-family: 'Anton', sans-serif;
    font-size: 300%;
    background: #B96716;
    color: #FFFFFF;

    transition: all 500ms ease;
    opacity: 0.8;
}

.boton:hover{
         background: rgba(0,0,0,0);
 color: black;
 box-shadow: inset 0 0 0 3px #3a7999;
}
