*{
    padding:0;
    margin:0;

}

body{

    width:100%;
    height:auto;
    overflow:hidden;
    background-color: black;

}

.fondo img {

    position: absolute;
    width:100%;
}
.boton2 a {

    position: absolute;
    text-decoration:none;
    display:block;
    border; 3px solid #109B92;
    width:200px;
    height: 60px;
    text-align:center;
    bottom: 20px;
    right: 20px;

    background-color: #B96716;
    color: #FFFFFF;
    border-radius: 10px;

    font-family: 'Monoton', cursive;
    font-size: 300%;

}




.tabla table{
    position: absolute;
    margin-top: 100px;
    margin-left: 80px;
    width: 800;
}

.tabla th{

    text-align:center;
    background-color: white;
    color:black;
    font-size:1vw;
    font-family: 'Syncopate', sans-serif;
    padding: 4px 25px 4px 8px;
}

.tabla td{

    text-align:center;
    color: #ffffff;
    border: 1px solid #e3e3e3;

    font-size:1vw;
    font-family: 'Open Sans', sans-serif;
    padding: 4px 30px 4px 8px;

}

table tr:nth-child(odd) td{

    background-color: #B96716;


}


.ttt {
    position: absolute;
    left: 45%;
    top: 35%;

}

.titulo h1{

    position:absolute;
    top: 10%;
    left: 50%;
    color: #FFFFFF;

    font-family: 'Roboto', sans-serif;
    font-size: 6vw;
}