<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clasificaciónaceleración</title>

    <link rel="stylesheet" href="main.css" type="text/css" media="screen, projection" />

</head>
<body>
    <h1> TIPO DE MOVIMIENTO</h1>
    <table>
        <tr>
            <th> FECHA Y HORA</th>
            <th> VALOR </th>
            <th> MOVIMIENTO </th>
        </tr>
        <tr>
            <td>{{value2}}</td>
            <td>{{value1}}</td>
            <td>corriendo</td>
        </tr>
    </table>
</body>
</html>